*,
*:before,
*:after{
    padding:14px;
    margin:9px;
    box-sizing: border-box;
}
.slideshow {
        list-style-type: none;
      }
      
      .slideshow,
      .slideshow:after { 
          top: -16px; 
              position: fixed;
          width: 100%;
          height: 100%;
          left: 0px;
          z-index: 0; 
      }
      
      .slideshow li span { 
              position: absolute;
          width: 100%;
          height: 100%;
          top: 0px;
          left: 0px;
          color: transparent;
          background-size: cover;
          background-position: 50% 50%;
          background-repeat: no-repeat;
          opacity: 0;
          z-index: 0;
          animation: imageAnimation 30s linear infinite 0s; 
      }
      
      
      
      .slideshow li:nth-child(1) span { 
          background-image: url("./ima/5.jpg"); 
      }
      .slideshow li:nth-child(2) span { 
          background-image: url("./ima/4.jpg");
          animation-delay: 6s; 
      }
      .slideshow li:nth-child(3) span { 
          background-image: url("./ima/3.jpg");
          animation-delay: 12s; 
      }
      .slideshow li:nth-child(4) span { 
          background-image: url("./ima/2.jpg");   
          animation-delay: 18s; 
      }
      .slideshow li:nth-child(5) span { 
          background-image: url("./ima/1.jpg");
          animation-delay: 24s; 
      }
      
      
      
      @keyframes imageAnimation { 
          0% { opacity: 0; animation-timing-function: ease-in; }
          8% { opacity: 1; animation-timing-function: ease-out; }
          17% { opacity: 1 }
          25% { opacity: 0 }
          100% { opacity: 0 }
      }
      
      
      @keyframes titleAnimation { 
          0% { opacity: 0 }
          8% { opacity: 1 }
          17% { opacity: 1 }
          19% { opacity: 0 }
          100% { opacity: 0 }
      }
      
      
      .no-cssanimations .cb-slideshow li span {
          opacity: 1;
      }
h1{
    align-items: center;
    padding: 14px;
    margin: inherit;
    padding-left: 33rem;
    background-color: initial;


}

.container{
    width: 300px;
    position: relative;
    margin: auto;
    box-sizing: content-box;
    background: image size 123px;;
    background-image: url(./id.jpg);
}


@media (max-width:1200px) {
    html {
        font-size: 55%;
    }
} 
@media (max-width:991px) {
    header {
        left: -120%;
    }

    body {
        padding: 0;
    }
    .container{
        width: 300%;
        position: relative;
        margin: auto;
    }
}
@media (max-width:768px) {
    html {
        font-size: 50%;
    }
}
@media (max-width:400px) {
   header {
       width: 100vw;
   }
   .heading {
       margin: 0 3rem;
   }
}
body{
    background-color: aquamarine;
}